// text sizes
$text-x-large: 3.4rem;
$text-large: 2.4rem;
$text-medium: 2rem;
$text-small: 1.8rem;
$text-x-small: 1.5rem;

// Global
$primary-font: 'Noto Sans JP', Helvetica Neue, Arial, 游ゴシック, YuGothic,
    Noto Sans, Hiragino Sans, Hiragino Kaku Gothic ProN, ヒラギノ角ゴ ProN W3,
    メイリオ, Meiryo, sans-serif;
$primary-font-color: #7f8c97;
$primary-link-color: $gold;
